<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
  
    <h1><%= current_page.data.title %></h1>

    <%= yield %>
    
    <p>
    <%= link_to "Home", "/" %>
    <% unless current_page.parent.nil? %>
      | <%= link_to current_page.parent.data.title, current_page.parent.url %>
    <% end %>
    </p>
  
  </body>
</html>
